<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Music Collection</title>
  <link rel="stylesheet" href="/assets/stylesheets/myItems.css">
</head>

<body>
  <% include partials/header.ejs %>
  <% include partials/user-navigation.ejs %>
  <% include partials/site-navigation.ejs %>
  <td id="content">

    <h1>Your profile</h1>
    <% if(typeof data == "undefined") { %>
    <p>Your profile is empty.</p>
    <% } else { %>
    <table class="borderlines">
        <tr class="borderlines">
            <th class="borderlines">Item</th>
            <th class="borderlines">Category</th>
            <th class="borderlines">Rating</th>
            <th class="borderlines">Listened</th>
            <th class="borderlines">Update/Delete</th>
        </tr>

        <% for(let i = 0; i < data.length; i++) { %>
        <tr class="borderlines">
            <td class="borderlines"><%= data[i].item.itemName %></td>
            <td class="borderlines"><%= data[i].item.catalogCategory %></td>

            <td class="borderlines"><%= data[i].rating %></td>
            <td class="borderlines"><%= data[i].listened %></td>

            <td class="borderlines">
                <form action="profile" method="post">
                    <% for(let j = 0; j < data.length; j++) { %>
                    <input type="hidden" name="itemList" value="<%= data[j].item.itemCode %>" />
                    <% } %>
                    <input type="hidden" name="itemCode" value="<%= data[i].item.itemCode %>" />

                    <button type="submit" class="submitButton" name="action" value="updateProfile">Update</button>
                    <button type="submit" class="submitButton" name="action" value="delete">Delete</button>
                </form>
            </td>
        </tr>
        <% } %>
    </table>
    <% } %>
  </td>
  <% include partials/footer.ejs %>
</body>

</html>
